<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body style="width: 100% !important; -webkit-text-size-adjust: none; margin: 0; padding: 20px; text-align: center;">
    <img src="https://bemoSenderr.com/images/logo-bemoSenderr.png" alt="bemoSenderr logo"/>
    <table style="border-spacing: 0; border-collapse: collapse; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; width: 100% !important; height: 100% !important; color: #4c4c4c; font-size: 15px; line-height: 150%; background: #ffffff; margin: 0; padding: 0; border: 0;">
      <tr style="vertical-align: top; padding: 0;">
        <td valign="top" style="vertical-align: top; padding: 0; text-align: center;">
          <p style="margin: 20px 0;">Hi {{ user_first_name }} {{ user_last_name }},</p>
          <p style="margin: 20px 0;">For compliance reasons, your account associated with the following phone number has been suspended.</p>
          <p style="margin: 20px 0;">Phone number: {{user_phone_number}}</p>
          <p style="margin: 20px 0;">bemoSenderr<br /><a href="https://bemoSenderr.com" style="color: #20c9a7;">https://bemoSenderr.com</a></p>
        </td>
      </tr>
    </table>
  </body>
</html>
