<html>
    <head>
        <meta charset="utf-8">
    </head>
<div style="padding:50px;">

<table  cellpadding="0" style=" margin:0 auto;padding: 10 50px 10px 50px; width:100%;border-collapse: collapse;">
  <tr>
    <td colspan="2"><img  style="width: 100%" src="https://bemoSenderr.com/images/logo-bemoSenderr.png"></td>
    <td colspan="2" style="text-align:right;font-style:normal;font-weight:normal;font-size:50pt;font-family:sans-serif;color:#000000">
    INVOICE - FACTURE
    </td>

</tr>
<tr>
    <td colspan="1"></td>
    <td colspan="1"></td>
    <td colspan="1"></td>
    <td colspan="1" style=" text-align:center">
            <div style="text-align: right;white-space: nowrap;font-style:normal;font-weight:bold;font-size:x-large;font-family:sans-serif;color:#000000">
                bemoSenderr Finance Ltd </div>
            <div style="text-align: right;font-style:normal;font-size:x-large;font-family:sans-serif;color:#000000">
                Quebec</div>
            <div style="text-align: right;font-style:normal;font-size:x-large;font-family:sans-serif;color:#000000">
                Canada</div>
                <br>
            <div style="text-align: right;font-style:normal;font-size:x-large;font-family:sans-serif;color:#000000">
                +1 438-795-5230</div>
            <div style="text-align: right;font-style:normal;font-size:x-large;font-family:sans-serif;color:#000000">
                www.bemoSenderr.com</div>
    </td>
</tr>
<tr>
    <td colspan="4" style="padding:5pt">
        <div style=" border: 1px #d3d3d3 solid;">

        </div>
    </td>
</tr>

<tr>
    <td colspan="2"  >
        <p style="font-style:normal;font-size:x-large;font-family:sans-serif;color:rgb(128, 128, 128)">BILL TO</p>
        <div style="font-style:normal;font-weight:bold;font-size:x-large;font-family:sans-serif;color:#000000">
            {{ sender_first_name }} {{ sender_last_name }} <br></div>
        <div style="font-style:normal;font-size:x-large;font-family:sans-serif;color:#000000">
            {{sender_address_1 }}</div>
        <div style="font-style:normal;font-size:x-large;font-family:sans-serif;color:#000000">
            {{ user_city}} {{ sender_zip_code }}</div>
        <div style="font-style:normal;font-size:x-large;font-family:sans-serif;color:#000000">
            {{sender_state }}, {{ user_country }}</div>
            <br>
        <div style="font-style:normal;font-size:x-large;font-family:sans-serif;color:#000000">
            {{sender_phone_number }}</div>
        <div style="font-style:normal;font-size:x-large;font-family:sans-serif;color:#000000">
            {{ sender_email }}</div>
    </td>
    <td colspan="1" style=" padding-top:15pt"> 
        <p style="text-align: right; white-space:nowrap;font-style:normal;font-size:x-large;font-family:sans-serif;color:#000000">
            <strong>Invoice Number: </strong> <br></p>
        <p style="text-align: right;white-space:nowrap;font-style:normal;font-size:x-large;font-family:sans-serif;color:#000000">
          <strong>Invoice Date: </strong></p>
        <p style="text-align: right;white-space:nowrap;font-style:normal;font-size:x-large;font-family:sans-serif;color:#000000">
          <strong>Payment Date: </strong></p>
        <div style="background-color: #ececec;float:right;white-space:nowrap;padding:7pt 0pt 7pt 15pt;display:inline-block; text-align: right;font-style:normal;font-weight:bold;font-size:x-large;font-family:sans-serif;color:#000000">
            Amount due({{ sender_origin_currency }}): </div>
    </td>
    <td colspan="1" style =" padding-top:15pt">
        <p style="text-align: left;padding-left:15pt; white-space:nowrap;font-style:normal;font-size:x-large;font-family:sans-serif;color:#000000">
            {{invoice_number}}<br></p>
        <p style="text-align: left;padding-left:15pt; white-space:nowrap;font-style:normal;font-size:x-large;font-family:sans-serif;color:#000000">
            {{invoice_date}}</p>
        <p style="text-align: left;padding-left:15pt; white-space:nowrap;font-style:normal;font-size:x-large;font-family:sans-serif;color:#000000">
            {{invoice_date}}</p>
        <div style="background-color: #ececec;white-space:nowrap;padding:7pt 30pt 7pt 15pt;display:inline-block; text-align: right;font-style:normal;font-weight:bold;font-size:x-large;font-family:sans-serif;color:#000000">
            {{origin_currency_short_sign}}{{sender_total_amount}}</div>
    </td>
</tr>
<tr>
    <td colspan="4">
      <br>
        <div style="float: left; ">
            <div style="background-color: #20C9A7; padding: 10pt 100pt 10pt 10pt">
                <div style="font-style:normal;white-space:nowrap;font-weight:bold;font-size:x-large;font-family:sans-serif;color:#000000;">
                    Amount converted: {{ sender_converted_amount }} {{destination_currency_sign}}</div>
                <div style="font-style:normal;white-space:nowrap;font-weight:bold;font-size:x-large;font-family:sans-serif;color:#000000">
                    As per today, 1 {{origin_currency_sign}} = {{destination_lowest_amount}} {{destination_currency_sign}}</div>
            </div>
            <br>
        </div>
        <br>
    </td>
</tr>
<tr></tr>
    <tr cellspacing="0" style="background-color: #20C9A7; padding: 5px">
            <th  style="padding: 5px;font-size:x-large;font-family:sans-serif;">
                    <b>Items</b>
            </th>
            <th style="padding: 5px;font-size:x-large;font-family:sans-serif;">Quantity
            </th>
            <th style="padding: 5px;font-size:x-large;font-family:sans-serif;">Fee
            </th>
            <th style="padding: 5px;font-size:x-large;font-family:sans-serif;">
                Amount
            </th>
    </tr>
    <tr>
    <td style="padding: 10px;">
        <div style="font-size:x-large;font-family:sans-serif;"><b style="">Money Transfer</b></div>
        <div style="font-size:x-large;font-family:sans-serif;white-space:nowrap">{{origin_country_name}} to {{destination_country_name}}</div>
    </td>
    <td style="text-align: center;font-size:x-large;font-family:sans-serif;">
        <div>1</div>
    </td>
    <td style="text-align: center;font-size:x-large;font-family:sans-serif;">
        <div style="font-size:x-large;font-family:sans-serif;">{{origin_currency_short_sign}}{{delivery_method_fee}}</div>
    </td>
    <td style="text-align: center;font-size:x-large;font-family:sans-serif;">
      <div>{{origin_currency_short_sign}}{{origin_amount_no_fees}}</div>
    </td>
    <tr>
        <td colspan="4">
            <div style=" border: 3px #d3d3d3 solid;">
            </div>
        </td>
    </tr>
    <tr style="padding: 10px;"> 
        <td colspan="1"  >
            <div style="font-size:x-large;font-family:sans-serif;">
                <b>Receiver: </b>
                <br>
                <b> {{reciever_first_name}} {{receiver_last_name}}</b>
            </div>
        </td>
        <td colspan="2" style="/*border-bottom: 5px #d3d3d3 solid;*/">
            <div style="text-align:right;font-size:x-large;font-family:sans-serif; padding-right: 10px;"><b>Total: </b></div>
            <div style="float: right;white-space:nowrap;font-size:x-large;font-family:sans-serif; padding-left:10px;">Payment on {{invoice_date}} using {{delivery_method}} payment:</div>
        </td>
        <td colspan="1" style="text-align: center;/*border-bottom: 5px #d3d3d3 solid;*/">
          <br>
                <div style="white-space:nowrap;font-size:x-large;font-family:sans-serif;">{{origin_currency_short_sign}}{{sender_total_amount}}</div>
                <div style="font-size:x-large;font-family:sans-serif;">{{origin_currency_short_sign}}{{sender_total_amount}}</div>
                <br>
        </td>
    </tr>
    <tr>
      <td colspan="1"></td>
<td colspan="3" style="text-align: center;border-bottom: 5px #d3d3d3 solid;"></td>
    </tr>
    <tr>
        <td colspan="2">
            <b style="font-size:x-large;font-family:sans-serif;">Networks:</b>
                {% for collect_tx in collect_transactions %}
                <div style="font-size:x-large;font-family:sans-serif;"><b>{{collect_tx.partner.name}}</b></div>
                <div style="white-space:nowrap;font-size:x-large;font-family:sans-serif;">PickUp Code:{{collect_tx.collect_code}}</div>
                <br>
                {% endfor %}
        </td>
        <td colspan="1" style="vertical-align: initial;text-align: center;font-size:x-large;font-family:sans-serif; margin-top: 10px;">
            <b style="float: right; white-space:nowrap; font-size:x-large;font-family:sans-serif;">Amount Paid(CAD):</b>
        </td>
        <td colspan="1" style="vertical-align: initial;text-align: center;font-size:x-large;font-family:sans-serif;">
            <b >{{origin_currency_short_sign}}{{sender_total_amount}}</b>
        </td>
    </tr>
</table>
<div style="padding:50px;text-align:center;font-size:x-large;font-family:sans-serif;">Thank you - Merci</div>
</div>
</html>